<section class="our-blog">
  <div class="container">
    <h2 class="subheading">Our blog</h2>
    <div class="description">You may also like</div>
    <div class="slider">
      <div class="nav-btns">
        <button class="btn btn_slider"></button>
        <button class="btn btn_slider"></button>
      </div>
      <div class="cards">
        <app-blog-card></app-blog-card>
        <app-blog-card></app-blog-card>
        <app-blog-card></app-blog-card>
      </div>
    </div>
    <div class="block-questions">
      <div class="text">Do you want more articles, podcasts and videos?</div>
      <div class="btn btn_red">Go to blog</div>
    </div>
  </div>
</section>
