<div class="modal">
  <button class="btn btn_close"></button>
  <div class="modal-subheading">Sign in</div>
  <p class="modal-description">Sign in to your account using email and password provided during registration.</p>
  <form class="modal__form" action="" method="post">
    <label for="email" class="label modal__label">
      Email
      <input class="input modal__input" type="email" name="email" id="email" placeholder="Your working email">
    </label>
    <label for="password" class="label modal__label">
      Password
      <div class="password-container">
        <input class="input modal__input input_password" [type]="!toggleVisible ? 'text' : 'password'" name="password" id="password" placeholder="Enter password">
        <button (click)="toggleVisiblePassword($event)" class="btn btn_password"></button>
      </div>
    </label>
    <div class="agreement">
      <div>
        <input type="checkbox" class="checkbox" id="agreement" name="agreement" value="yes">
        <label for="agreement">Keep me signed in</label>
      </div>
      <a href="#" class="link-red">Forgot password?</a>
    </div>
    <button class="btn btn_red" type="submit">Sign in</button>
    <div class="account">
      Don't have an account?
      <a href="#" class="link-red">Sign up</a>
    </div>
  </form>
  <div class="subscriptions subscriptions__social-networks">
    <div class="subscriptions__text">Or sign in with</div>
    <app-social-networks [isCenter]="true" [nameSocialNetworks]="icons"></app-social-networks>
  </div>
</div>
