@import '../../../../../styles/variables';

.card:not(:last-child) {
  margin-bottom: 24px;
}

.link-card {
  display: flex;
  align-items: center;
}

.img {
  margin-right: 20px;
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.user-name {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: $black2;
}

.post {
  margin-bottom: 20px;
  font-size: $fs14;
  color: $gray;
  line-height: 1.5;
}
