@import '../../../styles/variables';
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 92px;
  &__logo {
    margin-right: 60px;
  }
  &__nav {
    display: flex;
    align-items: center;
  }
  &__auth {
    display: flex;
    align-items: center;
    .btn_red {
      flex: 1 1 auto;
    }
  }
}
.flex-btn {
  display: flex;
}

.sign-in {
  flex: 1 1 auto;
}
.sign-up {
  flex: 1 1 auto;
}

.btn_auth {
  flex: 1 0 auto;
}

.btn-auth {
  font-weight: 700;
  line-height: 1.6;
  cursor: pointer;
  transition: color .2s ease-in-out;
  &:hover {
    color: $red;
  }
}
