<div class="container">
  <main class="main">
    <section class="contact">
      <h2 class="subheading contact__subheading">Contact info</h2>
      <div class="contact__content">
        <div class="contact__info">
          <div class="description contact__description">Get in touch</div>
          <ul class="info">
            <li class="info__item">
              <div class="icon icon_mail info__icon"></div>
              <div class="info__content">
                <div class="info__description">Talk to us:</div>
                <a [href]="contactInfo.mail.href" class="info__link">{{ contactInfo.mail.value }}</a>
              </div>
            </li>
            <li class="info__item">
              <div class="icon icon_phone info__icon"></div>
              <div class="info__content">
                <div class="info__description">Call us:</div>
                <a [href]="contactInfo.phone.href" class="info__link">{{ contactInfo.phone.value }}</a>
              </div>
            </li>
            <li class="info__item">
              <div class="icon icon_address info__icon"></div>
              <div class="info__content">
                <div class="info__description">Address:</div>
                <div class="info__link">{{ contactInfo.address }}</div>
              </div>
            </li>
          </ul>
          <div class="subscriptions">
            <h2 class="subheading subscriptions__subheading">Follow us:</h2>
            <app-social-networks [name]="'default'"></app-social-networks>
          </div>
        </div>
        <div class="contact__card">
          <div class="container">
            <ya-map [center]="mapConfig.centerMap" [zoom]="mapConfig.zoom">
              <ya-placemark [geometry]="mapConfig.markGeometry"></ya-placemark>
            </ya-map>
          </div>
        </div>
      </div>
    </section>
    <section class="questions">
      <div class="questions__bg"></div>
      <div class="questions__content">
        <h2 class="subheading questions__subheading">Any questions?</h2>
        <div class="description">Drop us a line</div>
        <form class="form-questions" action="" method="post">
          <div class="form-questions__container">
            <label for="firstName" class="label form-questions__label">
              First Name*
              <input class="input form-questions__input" type="text" name="firstName" id="firstName" placeholder="Your first name">
            </label>
            <label for="lastName" class="label form-questions__label">
              Last  Name*
              <input class="input form-questions__input" type="text" name="lastName" id="lastName" placeholder="Your last name">
            </label>
            <label for="email" class="label form-questions__label">
              Email*
              <input class="input form-questions__input" type="email" name="email" id="email" placeholder="Your working email">
            </label>
            <label for="phone" class="label form-questions__label">
              Phone
              <input class="input form-questions__input" type="text" name="phone" id="phone" placeholder="Your phone number">
            </label>
            <label for="phone" class="label form-questions__label">
              Message*
              <textarea class="textarea form-questions__input" type="text" name="phone" id="message" placeholder="Your message"></textarea>
            </label>
          </div>
          <div class="form-questions__agreement">
            <div class="form-questions__checkbox">
              <input type="checkbox" class="checkbox" id="agreement" name="agreement" value="yes">
              <label for="agreement">I agree to re ceive communications from Createx Online School</label>
            </div>
            <button class="btn btn_red" type="submit">Send message</button>
          </div>
        </form>
      </div>
    </section>
  </main>
</div>
<!--<app-sign-in [icons]="icons.modal"></app-sign-in>-->
<!--<app-sign-up [icons]="icons.modal"></app-sign-up>-->
