<mat-card class="card">
  <div class="bg">
    <img class="img" src="/assets/img/our-blog-1.png" alt="blog">
    <div class="category category_micro">Podcast</div>
  </div>

  <div>
    <div class="info">
      <div class="type">Design</div>
      <app-date></app-date>
      <div class="time-read">4 min read</div>
    </div>
    <div class="header">What are color profiles and how they work in graphic design</div>
    <p class="paragraph">Aliquam vulputate hendrerit quam sollicitudin urna enim viverra gravida. Consectetur urna arcu eleifend. Consectetur urna arcu eleifend.</p>
  </div>
  <a href="" class="btn btn_card">Listen</a>
</mat-card>
