@import '../../../../../styles/variables';
:host {
  flex: 1 1 auto;
  max-width: 810px;
}

.tag-description {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.description {
  position: relative;
  margin: 0 12px 0 0;
  padding: 0 12px 0 28px;
  font-size: $fs16;
  line-height: 1.6;
  color: $black2;
  font-weight: 400;
  background: url('../../../../../assets/img/files.svg') left no-repeat;
  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 16px;
    background-color: $gray;
  }
}

.tag-text {
  line-height: 1.6;
  font-weight: 700;
  color: $red;
}

.heading {
  margin-bottom: 26px;
  font-size: 46px;
  font-weight: 900;
  line-height: 1.3;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.date-content {
  display: flex;
  align-items: center;
  color: $gray;
  line-height: 1.4;
}

.time-read {
  margin-left: 24px;
  padding-left: 26px;
  background: url('../../../../../assets/img/time.svg') left center no-repeat;
}

.share {
  display: flex;
  align-items: center;
}

.text {
  margin-right: 12px;
  font-weight: 700;
}

.image {
  margin-bottom: 40px;
  width: 100%;
  height: 360px;
  background: url('../../../../../assets/img/blog.jpg') center no-repeat;
}

.paragraph {
  margin-bottom: 24px;
  color: $black2;
  line-height: 1.6;
  &:last-child {
    margin-bottom: 60px;
  }
}

.bold, .blockquote {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  color: $black;
}

.blockquote {
  display: flex;
  padding: 48px 0;
  .icon {
    background: url('../../../../../assets/img/quotes.svg') center no-repeat;
    width: 28px;
    height: 20px;
    flex: 1 0 auto;
    margin-right: 30px;
  }
}

.list {
  margin-bottom: 24px;
  line-height: 1.6;
  color: $black2;
  & > li {
    position: relative;
    padding-left: 30px;
    &:not(:last-child) {
      margin-bottom: 4px;
    }
    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background: url('../../../../../assets/img/marker.svg') center no-repeat;
    }
  }
}

.tags-content, .tags-share {
  display: flex;
  align-items: center;
}

.tags-share  {
  justify-content: space-between;
}
