@import 'config';
// button
.btn {
  padding: 13px 40px 14px;
  font-weight: 700;
  line-height: 1.6;
  cursor: pointer;
  &_red {
    color: $white;
    background: $red_gradient;
    border-radius: 4px;
    letter-spacing: 0.5px;
  }
  &_auth {
    display: flex;
    align-items: center;
    padding: 13px 0 13px 36px;
  }
  &_send-icon {
    width: 16px;
    height: 16px;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    background-image: url('../assets/img/arrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  &_go-to-top {
    width: auto;
    padding: 0;
    font-size: $fs14;
    color: $white;
    opacity: 0.6;
  }
  &_close {
    display: block;
    padding: 0;
    margin: 24px 24px 0 auto;
    width: 24px;
    height: 24px;
  }
  &_password {
    position: absolute;
    top: 49%;
    right: 16px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    padding: 0;
  }


  &__auth-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background: url('../assets/img/profile.svg') center no-repeat;
  }


}
