// Размер шрифтов
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
// Основные цвета
$white: #fff;
$black: #1E212C;
$black2: #424551;
$gray: #787A80;
$gray2: #9A9CA5;
$gray3: #B3B7BC;
$light_gray: #D7DADD;
$red: #FF3F3A;
$red_gradient: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
