// Размер шрифтов
$fs14: 14px;
$fs16: 16px;
$fs18: 18px;
// Основные цвета
$white: #fff;
$black: #1e212c;
$black2: #424551;
$gray: #787a80;
$gray2: #9a9ca5;
$gray3: #b3b7bc;
$gray4: #f4f5f7;
$light_gray: #d7dadd;
$red: #ff3f3a;
$red_gradient: linear-gradient(55.95deg, #ff3f3a 0%, #f75e05 100%);
