<div class="modal">
  <button mat-dialog-close="" class="btn btn_close"></button>
  <div class="modal-subheading">Sign up</div>
  <p class="modal-description">Registration takes less than a minute but gives you full control over your studying.</p>
  <form class="modal__form" action="" method="post">
    <label for="fullName" class="label modal__label">
      Full Name
      <input class="input modal__input" type="text" name="fullName" id="fullName" placeholder="Your full name">
    </label>
    <label for="email" class="label modal__label">
      Email
      <input class="input modal__input" type="email" name="email" id="email" placeholder="Your working email">
    </label>
    <label for="password" class="label modal__label">
      Password
      <div class="password-container">
        <input class="input modal__input input_password" [type]="toggleVisible ? 'password' : 'text'" name="password"
               id="password" placeholder="Enter password">
        <button (click)="toggleVisiblePassword($event)" class="btn btn_password"></button>
      </div>
    </label>
    <label for="passwordConfirm" class="label modal__label">
      Confirm Password
      <div class="password-container">
        <input class="input modal__input input_password" [type]="toggleVisible ? 'password' : 'text'"
               name="passwordConfirm" id="passwordConfirm" placeholder="Reenter password">
        <button (click)="toggleVisiblePassword($event)" class="btn btn_password"></button>
      </div>
    </label>
    <div class="agreement">
      <input type="checkbox" class="checkbox" id="remember" name="agreement" value="yes">
      <label for="remember">Remember me</label>
    </div>
    <button class="btn btn_red" type="submit">Sign up</button>
    <div class="account">
      Already have an account?
      <a href="#" class="link-red">Sign in</a>
    </div>
  </form>
  <div class="subscriptions subscriptions__social-networks">
    <div class="subscriptions__text">Or sign in with</div>
    <app-social-networks [isCenter]="true" [name]="'modal'"></app-social-networks>
  </div>
</div>

