.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.select-search {
  display: flex;
  align-items: center;
}

.search {
  min-width: 285px;
}
