@import "../../../styles/variables";
// ya-map
.container {
  width: 100%;
  height: 100%;
}

.contact {
  margin-bottom: 168px;

  &__subheading {
    margin-bottom: 8px;
  }

  &__content {
    display: flex;
    align-items: flex-start;
  }

  &__info {
    flex: 1 1 auto;
  }

  &__card {
    flex: 5 1 auto;
    height: 414px;
    max-height: 414px;
    box-shadow: 0 80px 80px -20px rgba(154, 156, 165, 0.08),
      0px 30px 24px -10px rgba(154, 156, 165, 0.05),
      0px 12px 10px -6px rgba(154, 156, 165, 0.04),
      0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;

    img {
      max-height: 412px;
    }
  }
}

// info section
.info {
  &__description {
    font-size: $fs14;
    line-height: 1.5;
    font-weight: 700;
    color: $gray;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 48px;
    }
  }

  &__icon {
    margin-right: 12px;
  }

  &__link {
    font-size: $fs18;
    line-height: 1.5;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $red;
    }
  }
}

// questions
.questions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 180px;

  &__subheading {
    margin-bottom: 8px;
  }

  &__bg {
    width: 435px;
    height: 481px;
    margin-right: 105px;
    background: url("../../../assets/img/bg_questions.png") no-repeat center
      100%;
  }
}

// form-questions
.form-questions {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 25px;
  }

  &__input {
    margin-top: 8px;
  }

  &__label {
    margin-bottom: 24px;

    &:last-child {
      grid-column-start: 1;
      grid-column-end: 3;
      margin-bottom: 48px;
    }
  }

  &__agreement {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  &__checkbox {
    flex: 1 1 auto;

    & + .btn_red {
      flex: 1 2 auto;
    }
  }
}
