<mat-card class="card">
  <div class="bg">
    <img colorful class="img" [src]="card.src" alt="blog" />
    <div class="category" [ngClass]="card.type | lowercase">
      {{ card.type }}
    </div>
  </div>

  <div>
    <div class="info">
      <div class="type">{{ card.category }}</div>
      <app-date [date]="card.date"></app-date>
      <ng-container *ngIf="card.readTime">
        <div class="time-read">{{ card.readTime }}</div>
      </ng-container>
    </div>
    <div class="header">{{ card.title }}</div>
    <p class="paragraph">{{ (card.description.length > 100)? (card.description | slice:0:100)+'...':(card.description) }}</p>
  </div>
  <button routerLink="/single-post" class="btn btn_card">{{ card.btn }}</button>
</mat-card>
