<div class="container">
  <header class="header">
    <div class="header__nav">
      <a href="#" class="logo header__logo">
        <img src="assets/img/logo.svg" alt="CreateX">
      </a>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Courses</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Events</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__auth">
      <button class="btn btn_red">Get consultation</button>
      <button class="btn btn_auth"><span class="btn__auth-icon"></span><span>Log in / Register</span></button>
    </div>
  </header>
  <main class="main">
  </main>
  <footer class="footer"></footer>
</div>
