@import '../../../../../styles/variables';

:host {
  &:not(:last-child) {
    margin-right: 32px;
  }
}

.subscriptions__social-networks, .list_blog {
  :host {
    &:not(:last-child) {
      margin-right: 12px;
    }

    .mat-icon {
      width: 20px;
      height: 20px;

      svg {
        path {
          fill: #ffffff;
        }
      }
    }
  }


  .list_opacity .link {
    background-color: $white;

    &:hover {
      background-color: $red;
    }
  }
}
