@import '../../styles/variables';

.tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tag {
  padding: 6px 16px;
  border: 1px solid $light_gray;
  border-radius: 4px;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  color: $gray;
  font-weight: 700;
  font-size: $fs14;
  &:not(:last-child) {
    margin-right: 12px;
  }
  &:hover {
    border-color: $red;
    background-color: $red;
    color: $white;
  }
}
