<section class="distribution">
  <div class="container">
    <div class="bg"></div>
    <div class="content">
      <h2 class="distribution-header">
        Want to get the best articles weekly? Subscribe to our newsletter!
      </h2>
      <form class="form" action="">
        <div class="input-btn">
          <label>
            <input
              class="input"
              type="email"
              placeholder="Your working email"
            />
          </label>
          <button class="btn btn_red">Subscribe</button>
        </div>
        <div>
          <input
            type="checkbox"
            class="checkbox"
            id="agreement"
            name="agreement"
            value="yes"
          />
          <label for="agreement">I agree to receive communications from Createx Online School</label>
        </div>
      </form>
    </div>
  </div>
</section>
