@import "../../../../styles/variables";

.date {
  padding-left: 26px;
  color: $gray;
  font-size: $fs14;
  line-height: 1.4;
  background: url("../../../../assets/img/calendar.svg") left center no-repeat;
}
