<article class="card">
  <a href="" class="link-card">
    <img class="img" src="../../../assets/img/trend1.jpg" alt="фото автора">
    <div class="content">
      <app-date></app-date>
      <div class="header">What is traffic arbitrage and does it really make money?</div>
    </div>
  </a>
</article>
<article class="card">
  <a href="" class="link-card">
    <img class="img" src="../../../assets/img/trend2.jpg" alt="фото автора">
    <div class="content">
      <app-date></app-date>
      <div class="header">What is traffic arbitrage and does it really make money?</div>
    </div>
  </a>
</article>
<article class="card">
  <a href="" class="link-card">
    <img class="img" src="../../../assets/img/trend3.jpg" alt="фото автора">
    <div class="content">
      <app-date></app-date>
      <div class="header">What is traffic arbitrage and does it really make money?</div>
    </div>
  </a>
</article>
